.about-content {
  padding: 3rem;
  max-width: 800px;
  margin: 0 auto;
  line-height: 1.6;
  min-height: 80vh;
  color: #E0E0E0;
}

.about-content h2 {
  color: #E0E0E0;
  border-bottom: 2px solid #64B5F6;
  display: inline-block;
  padding-bottom: 5px;
}