.feature-card {
    background: rgba(255, 255, 255, 0.1); 
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    
    padding: 30px;
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    transition: transform 0.3s ease;
    text-align: left;
}

.feature-card:hover {
    transform: translateY(-5px);
    background: rgba(255, 255, 255, 0.15);
    border: 1px solid rgba(255, 255, 255, 0.4);
}

.feature-card h3 {
    color: #ffffff;
    font-weight: 800;
    font-size: 1.4rem;
}

.feature-card p {
    color: #e0e0e0;
}

.feature-img-icon, .custom-icon-img {
    width: 50px;
    height: 50px;
    margin-bottom: 15px;
}