.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Forces app to take full height of screen */
}

.content-wrap {
  flex: 1; /* Pushes the footer down by taking up available space */
}