/* src/index.css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
  background-color: #0D1B2A;
    color: #E0E0E0;
}

#root {
  width: 100%;
  margin: 0;
  padding: 0; 
  max-width: 100%; 
}